<%- include("includes/head") %>
    <%- include("includes/nav") %>
        <!-- Learn Sections -->
        <section id="learn" class="p-5">
            <div class="container">
                <h1 id="conversation">Como iniciar um diálogo em umbundu</h1>
                <div class="mt-5 lead">
                    <p>A primeira coisa que normalmente fazemos quando queremos iniciar um diálogo, é cumprimentar:
                        <b>Olá</b> , <b>oi</b>.
                        Em umbundu diz-se: <b>Kalunga</b>.
                    </p>

                    <p>
                        A outra maneira de começarmos um diálogo é utilizando os três períodos do dia:
                        <b>bom dia, boa tarde, boa noite</b> Em umbundu a expressão para estes 3 saudações é a mesma:
                        <b>Kalunga</b>.
                        Vale resaltar que esta expressão <b>(KALUNGA)</b> , está no singular. Quando tivermos de saudar
                        mais de uma pessoa dizemos: <b>Kalungi</b>

                    </p>
                    A resposta a esta saudação varia segundo o género.
                    <ul>
                        <li>Os homens respondem: <b>KUKU</b>.</li>
                        <li>As mulheres respondem: <b>KAWE</b>.</li>
                    </ul>

                    <p></p>
                    <p>
                        Agora, você pode continuar o diálogo de duas maneiras.
                    <ol>
                        <li>Se ainda não conhece a pessoa diga: <br>
                            Onduko yange ame _________. Onduko yove ove lie? » O meu nome é _________. Qual é o teu
                            nome?
                        </li>
                        <li>Se já conhece a pessoa diga:<br>
                            Okasi ciwa? » Estás bem?
                        </li>
                    </ol>
                    </p>

                    Para encerrar um diálogo podes utilizar expressões de despedidas. Veja algumas delas:
                    <ul>
                        <li>Eteke tu li sanga » Até a próxima</li>
                        <li>Lalipo » Até amanhã</li>
                        <li>Sialapo ciwa » Fique bem</li>
                    </ul>

                    <p>
                    <h5>Observe o diálogo abaixo entre dois personagens, Kasinda e Navita.</h5>
                    </p>
                    <ul style="list-style-type:none">
                        <li><b>Kasinda:</b> Kalunga! » <span class="text-primary">Olá</span>
                        <li><b>Navita: </b>Kawe » <span class="text-primary">Oi</span>
                        <li><b>Kasinda:</b> Onduko yange ame Kasinda. Onduko yove ove lie »
                            <span class="text-primary">
                                O meu nome é Kasinda. Qual é o teu nome?
                            </span>
                        <li><b>Navita: </b>Onduko yange ame Navita. » <span class="text-primary">O meu nome é
                                Navita.</span>
                        <li><b>Kasinda:</b> A Navita okasi ciwa? » <span class="text-primary">Estás bem Navita?</span>
                        <li><b>Navita: </b>Ndi kasi ciwa. Ove hẽ? » <span class="text-primary">Estou bem. E você?</span>
                        <li><b>Kasinda:</b> Lamevo ndi kasi ciwa. » <span class="text-primary">Eu tambem estou
                                bem</span>
                        <li><b>Navita: </b>Ciwa. Sialapo ciwa, eteke tu li sanga. » <span class="text-primary">Que bom.
                                Fique bem, até a próxima.</span>
                        <li><b>Kasinda:</b> Nda pandula. Eteke tu li sanga. » <span class="text-primary">Obrigado. Até a
                                próxima.</span>
                    </ul>
                    <p>
                    <h5>Pratique Umbundu diáriamente com essas fráses</h5>
                    </p>
                    <ol>
                        <li>Estou a sair agora » Ndi kasi oku tunda kaliye </li>
                        <li>Peça desculpas » Pinga ongecelo</li>
                        <li>Não gosto de faltas de respeito » Etombo si li sole</li>
                        <li>Estou com gripe » Ndi kasi locisinda</li>
                        <li>Quem é o teu namorado? » Ukuenje wove helie?</li>
                        <li>Feliz noite » uteke uwa</li>
                        <li>A culpa não é minha » ekandu ha liangeko</li>
                        <li>Ele precisa da minha ajuda » Eye osukila ekuatiso liange</li>
                        <li>Eu preciso da tua ajuda » Ame ndi sukila ekuatiso liove</li>
                        <li> Até lá, ja terminei » Toke opo nda malã ale</li>
                        <li> Chego ali dentro de instantes » Ndopo muĕle eci ndi pitilã</li>
                        <li> Voce é tão complicado/a » Ove mba wa tatama</li>
                        <li> Fique esperto/a » Lunguka</li>
                        <li> Transmita as minhas saudações a todos » Ka va lamepo</li>
                        <li> A familia precisa estar unida » Epata li sukila oku likuata omunga</li>
                        <li> Vamos parar com essa conversa » Esape eli li imuhĕ</li>
                        <li> Isto não é justo » eci ka ca sungulukile</li>
                        <li> Isto não é fácil » Eci ka ca lelukile</li>
                        <li> Ele sabe conversar » eye ocitelã oku sapela</li>
                        <li> O teu pai está em casa? » Isiove okasi konjo?</li>
                        <li> Há dias que não te veja » oloneke evi si ku lete.</li>
                        <li> Por favor, me ajuda » Mange ohenda, ñuatise.</li>
                        <li> Diz a tua mãe que irei a vossa casa » Sapuila ina yove hoti ndi enda konjo yene</li>
                        <li> Eu gosto de ti como irmão » Ndi ku sole nda manjange</li>
                        <li> Estou a procura de mulher para casa » ñasi oku vanjiliya ukai ndi kuela</li>
                        <li> Que horas são? » Tu kasi owola ye?</li>
                        <li> Sou novo aqui » Ndopo ndeya kulo</li>
                        <li> Não acredito nisso » Si tava</li>
                        <li> Estou muito agradecido » Nda pandula calua</li>
                        <li> Apartir de hoje vamos nos cumprimentar em umbunda » Okupisa etali tu li lama vumbundu</li>
                        <li> Estou a aprender a falar umbundu » Ndi kasi oku li longisa oku vangula umbundu</li>
                        <li> É uma longa história » Ulandu umue wa lepa</li>
                        <li> Siga o exemplo dos teus pais » Kuama ongangu yolonjali viove</li>
                        <li> Ouviste? » Wa ci yeva?</li>
                        <li> Já chega! Estou cansado/a » Ndoto, nda kava.</li>
                        <li> Ai de mim! » Ngongo yange we!</li>
                        <li> Está gostoso » Ca pepa</li>
                        <li> Este é o meu primeiro filho » U eye uveli wange / u eye omõla wange wa tete.</li>
                        <li> Quero cumprir o que prometi » Ndi yongola oku telĩsa eci nda li kuminya</li>
                        <li> Não fique triste » Ku ka sumue</li>
                        <li> Não precisas procurar » Ku sukila oku vanjiliya</li>
                        <li> Em Luanda está a chover » Ko luwanda ombela yawa</li>
                        <li> Estou a procura de homem para casar » Ndi kasi oku vanjiliya ulume o ndi kuela</li>
                        <li> Para mim isto não é problema » Ko kuange eci ha citangiko</li>
                        <li> Estou sem dinheiro para o taxi » Sikuete olumbongo luo ku kuata ekalũ</li>
                        <li> O meu telefone ficou sem carga » O telefone yange yapua ongusu</li>
                        <li> Já não posso esperar » Ka ci tava vali okuti ndi kevelela</li>
                        <li> Não tenho telefone » Si kuete otelefone</li>
                        <li> Escolham bem as vossas namoradas » Nõlĩ ciwa afeko vene</li>
                        <li> Escolham bem as vossas namoradas » Nõlĩ ciwa akuenje vene</li>
                    </ol>

                </div>
                <h1 id="numbers" class="mt-5">Os números</h1>
                <div class="mt-5 lead">
                    Em umbundu a contagem de números cardinais é a mesma que a dos números ordinais, com a exceção do
                    número <b>1</b> (um = mosi, primeiro = tete). Exemplo de outros números:
                    <p>
                    <ul>
                        <li>Dois - Vali / Segundo - Vali</li>
                        <li>Três - Tatu / Terceiro - Tatu</li>
                        <li>Quatro - Kualã / Quarto - Kualã Etc...</li>
                    </ul>
                    <div class="table-responsive-sm">
                        <table class="table">
                            <tr>
                                <td>1- Mosi </td>
                                <td>2- Vali </td>
                                <td>3- Tatu </td>
                                <td>4- Kualã </td>

                            </tr>
                            <tr>
                                <td>5- Talõ </td>
                                <td>6 - Epandu</td>
                                <td>7- Epandu vali</td>
                                <td>8- Ecelãlã</td>
                            </tr>
                            <tr>
                                <td>9- Ecea</td>
                                <td>10- Ekuĩ</td>
                                <td>11- Ekuĩ la mosi</td>
                                <td>12- Ekuĩ la vali</td>
                            </tr>
                            <tr>
                                <td>13- Ekuĩ la tatu</td>
                                <td>14- Ekuĩ la ualã</td>
                                <td>15- Ekuĩ la talõ</td>
                                <td>16- Ekuĩ lepandu</td>
                            </tr>
                            <tr>
                                <td>17- Ekuĩ lepandu vali</td>
                                <td>18- Ekuĩ lecelãlã</td>
                                <td>19- Ekĩ lecea</td>
                                <td>20- Akuĩ avali</td>
                            </tr>
                            <tr>
                                <td>21- Akuĩ avali la mosi</td>
                                <td>22- Akuĩ avali la vali</td>
                                <td>23- Akuĩ avali la tatu</td>
                                <td>24 - Akuĩ avali la kualã</td>
                            </tr>
                            <tr>
                                <td>25- Akuĩ avali la tatu</td>
                                <td>26- Akuĩ vali lepandu</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-active">
                                    <b>Nota:</b> Procure esforçar-se ao máxima para aprender e memorizar os númerose de
                                    1 à 10,
                                    visto que de 10 pra frente há uma repetição contínua dos mesmos números
                                </td>

                            </tr>
                            <tr>
                                <td>27- Akuĩ avali lepandu vali</td>
                                <td>28- Akuĩ avali lecelãlã</td>
                                <td>29- Akuĩ avali lecea</td>
                                <td>30- Akuĩ atatu</td>
                            </tr>
                            <tr>
                                <td>31- Akuĩ atatu</td>
                                <td>32- Akuĩ atatu la vali</td>
                                <td>33- Akuĩ atatu la tatu</td>
                                <td>34- Akuĩ atatu la kualã</td>
                            </tr>
                            <tr>
                                <td>35- Akuĩ atatu la talõ</td>
                                <td>36- Akuĩ atatu lepandu</td>
                                <td>37- Akuĩ atatu lepandu vali</td>
                                <td>38- Akuĩ atatu lecelãlã</td>
                            </tr>
                            <tr>
                                <td>39- Akuĩ atatu lecea</td>
                                <td>40- Akuĩ akualã</td>
                                <td>41- Akuĩ akualã la mosi</td>
                                <td>42- Akuĩ akualã la vali</td>
                            </tr>
                            <tr>
                                <td>43- Akuĩ akualã la tatu</td>
                                <td>44- Akuv akualã la kualã</td>
                                <td>45- Akuĩ akualã la talõ</td>
                                <td>46- Akuĩ akualã lepandu</td>
                            </tr>
                            <tr>
                                <td>47- Akuĩ akualã lepandu vali</td>
                                <td>48- Akuĩ akualã lecelãlã</td>
                                <td>49- Akuĩ akualã lecea</td>
                                <td>50- Akuĩ atalõ</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-active">
                                    “Bem, agora você pode continuar fazendo a combinação dos números, pois vamos fazer
                                    uma contagem em unidades de 10.”
                                </td>

                            </tr>
                            <tr>
                                <td>60- Akuĩ epandu </td>
                                <td>70- Akuĩ epandu vali </td>
                                <td>80- Akuĩ ecelãlã </td>
                                <td>90- Akuĩ ecea </td>
                            </tr>
                            <tr>
                                <td>101 - Ocita la mosi</td>
                                <td>104 - Ocita la kuala </td>
                                <td>110 - Ocita lakuĩ </td>
                                <td>120 - Ocita lakuĩ avali </td>
                            </tr>
                            <tr>
                                <td>130 - Ocita lakuĩ atatu </td>
                                <td>140 - Ocita lakuĩ kuãla </td>
                                <td>150 - Ocita lakuĩ talõ </td>
                                <td>160 - Ocita lakuĩ epandu </td>
                            </tr>
                            <tr>
                                <td>164 - Ocita lakuĩ epandu la kuãla </td>
                                <td>170 - Ocita lakuĩ epandu vali </td>
                                <td>180 - Ocita lakuĩ ecelalã </td>
                                <td>190- Ocita lakuĩ ecea </td>
                            </tr>
                            <tr>
                                <td>200 - Ovita vivali </td>
                                <td>300 - Ovita vitatu </td>
                                <td>400- Ovita vikuãla </td>
                                <td>500- Ovita vi talõ </td>
                            </tr>
                            <tr>
                                <td>600 - Ovita epandu</td>
                                <td>700- Ovita epandu vali</td>
                                <td>800 - Ovita ecelalã</td>
                                <td>900 - Ovita ecea</td>
                            </tr>
                            <tr>
                                <td>1.000- Ohulukaĩ </td>
                                <td>2.000- Olo hulukaĩ vivali</td>
                                <td>3.000 Olo hulukaĩ vitatu </td>
                                <td>4.000 Olo hulukaĩ vikuãla</td>
                            </tr>
                            <tr>
                                <td>100.000 Ocita kolohulukai</td>
                                <td>1.000.000 - Ohulowa </td>
                                <td>2.000.000- Olohuluwa vivali</td>
                                <td>100- Ocita</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="table-active">
                                    <b>Você pode ter um maior aproveitamento desta matéria assistindo à Video-aula de
                                        números em umbundu. <a href="https://youtu.be/ui8WQ54pCXk">Assista agora </a><i
                                            class="text-primary bi bi-youtube" style="font-size: 20px"></i>
                                    </b>
                                </td>

                            </tr>

                        </table>
                    </div>
                    </p>
                </div>
                <h1 class="mt-5 " id="verbs">Os verbos</h1>
                <div class="mt-5 lead">
                    Você provavelmente já percebeu que em umbundu os verbos Ser e Estar são apenas um.
                    Ser/Estar: <b>Oku kala</b>. <br>
                    Apesar disso existem algumas diferênças entre eles. Comecemos pela diferênça mais visível. Em
                    umbundu o verbo ser não tem conjugação no presente do indicativo.<br>
                    Para ajudá-lo a entender este assunto de forma muito mais clara e simples veja a conjugação abaixo
                    em português.
                    <p>
                    <ul style="list-style:none">
                        <li><b>Eu </b>sou</li>
                        <li><b>Tu </b>és</li>
                        <li><b>Ele</b> é</li>
                        <li><b>Nós</b> somos</li>
                        <li><b>Vós</b> sois</li>
                        <li><b>Eles</b> são</li>
                    </ul>
                    </p>
                    Para traduzirmos para umbundu cada uma das frases acima, é preciso que se construa um contexto.<br>
                    EX:
                    <p>
                    <ul style="list-style:none">
                        <li>Eu sou grande »» Ame ndunene</li>
                        <li>Ele é professor »» Eye ulongisi</li>
                        <li>Nós somos estudantes »» Etu tu londonge.</li>
                    </ul>
                    </p>
                    Portanto, tenha isso em mente: O verbo ser não é conjugado no presente do indicativo.
                    Assim sendo vamos começar por fazer a conjugação do verbo estar no presente do indicativo,
                    mas lembre-se que a conjugação que faremos em outros tempos envolve o verbo ser.

                    <div class="row g4">
                        <div class="col-lg-6 table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <th colspan="4" class="text-center">Passado</th>
                                </thead>
                                <tbody>
                                    <tr class="table-active">
                                        <td><b>Pronome</b></td>
                                        <td><b>Português</b></td>
                                        <td><b>Umbundu</b></td>
                                    </tr>
                                    <tr>
                                        <td>Eu » Ame</td>
                                        <td>Estive/fui</td>
                                        <td>Nda kala</td>
                                    </tr>
                                    <tr>
                                        <td>Tu » Ove</td>
                                        <td>Estiveste/foste</td>
                                        <td>Wa kala</td>
                                    </tr>
                                    <tr>
                                        <td>Ele » Eye</td>
                                        <td>Estava/foi</td>
                                        <td>Wa kala</td>
                                    </tr>
                                    <tr>
                                        <td>Nós » Etu</td>
                                        <td>Estivemos/fomos</td>
                                        <td>Tua kala</td>
                                    </tr>
                                    <tr>
                                        <td>Vós » Ene</td>
                                        <td>Estivestes/fostes</td>
                                        <td>Wa kali</td>
                                    </tr>
                                    <tr>
                                        <td>Eles » Ovo</td>
                                        <td>Estiveram/foram</td>
                                        <td>Va kala</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 ">
                            <table class="table">
                                <thead>
                                    <th colspan="4" class="text-center">Presente</th>
                                </thead>
                                <tbody>
                                    <tr class="table-active">
                                        <td><b>Pronome</b></td>
                                        <td><b>Português</b></td>
                                        <td><b>Umbundu</b></td>
                                    </tr>
                                    <tr>
                                        <td>Eu » Ame</td>
                                        <td>Estou</td>
                                        <td>Ndi kasi</td>
                                    </tr>
                                    <tr>
                                        <td>Tu » Ove</td>
                                        <td>Estás</td>
                                        <td>O kasi</td>
                                    </tr>
                                    <tr>
                                        <td>Ele » Eye</td>
                                        <td>Está </td>
                                        <td>O kasi</td>
                                    </tr>
                                    <tr>
                                        <td>Nós » Etu</td>
                                        <td>Estamos</td>
                                        <td>Tu kasi</td>
                                    </tr>
                                    <tr>
                                        <td>Vós » Ene</td>
                                        <td>Estais</td>
                                        <td>Vu kasi</td>
                                    </tr>
                                    <tr>
                                        <td>Eles » Ovo</td>
                                        <td>Estão</td>
                                        <td>Va kasi</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 ">
                            <table class="table">
                                <thead>
                                    <th colspan="4" class="text-center">Futuro</th>
                                </thead>
                                <tbody>
                                    <tr class="table-active">
                                        <td><b>Pronome</b></td>
                                        <td><b>Português</b></td>
                                        <td><b>Umbundu</b></td>
                                    </tr>
                                    <tr>
                                        <td>Eu » Ame</td>
                                        <td>Estarei/serei</td>
                                        <td>Ndi ka kala</td>
                                    </tr>
                                    <tr>
                                        <td>Tu » Ove</td>
                                        <td>Estarás/serás</td>
                                        <td>O ka kala</td>
                                    </tr>
                                    <tr>
                                        <td>Ele » Eye</td>
                                        <td>Estará/será</td>
                                        <td>O ka kala </td>
                                    </tr>
                                    <tr>
                                        <td>Nós » Etu</td>
                                        <td>Estaremos/seremos</td>
                                        <td>Tu ka kala</td>
                                    </tr>
                                    <tr>
                                        <td>Vós » Ene</td>
                                        <td>Estareis/sereis</td>
                                        <td>Vu ka kali</td>
                                    </tr>
                                    <tr>
                                        <td>Eles » Ovo</td>
                                        <td>Estarão/serão</td>
                                        <td>Va ka kala</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row text-center justify-content-center mt-5">
                        <h5>Exemplos - Verbo estar</h5>
                        <div class="col-lg-4 text-start">
                            <b><u>Passado</u></b>
                            <p class="mt-2">
                                Eu estive na escola » Ame nda kala ko sikola <br>
                                Tu estavas a comer » ove wa kala oku lia<br>
                                Ele estava a caminho » Eye wa kala vonjila<br>
                                Nós estávamos próximos » Etu tua kala ocipepi<br>
                                Vós estáveis a conversar » Ene wa kali oku sapela<br>
                                Eles estavam a dançar » Ovo va kala oku piluka
                            </p>
                        </div>
                        <div class="col-lg-4 text-start">
                            <b><u>Presente</u></b>
                            <p class="mt-2">
                                Eu estou na escola » Ame ndi kasi ko sikola <br>
                                Tu estás a comer » ove okasi oku lia<br>
                                Ele está a caminho » Eye o kasi vonjila<br>
                                Nós estamos próximos » Etu tu kasi ocipepi<br>
                                Vós estais a conversar » Ene vu kasi oku sapela<br>
                                Eles estão a dançar » Ovo va kasi oku piluka
                            </p>

                        </div>
                        <div class="col-lg-4 text-start">
                            <b><u>Futuro</u></b>
                            <p class="mt-2">
                                Eu estarei na escola » Ame ndi ka kala ko sikola <br>
                                Tu estarás a comer » ove o ka kala oku lia<br>
                                Ele estará a caminho » Eye oka kala vonjila<br>
                                Nós estaremos próximo » Etu tua kala ocipepi<br>
                                Vós estareis a conversar » Ene vu ka kali oku sapela<br>
                                Eles estarão a dançar » Ovo va ka kala oku piluka<br>
                            </p>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center mt-5">
                        <h5>Exemplos - Verbo ser</h5>
                        <div class="col-lg-6 text-start">
                            <b><u>Passado</u></b>
                            <p class="mt-2">
                                Eu fui professor » Ame nda kala ulongisi <br>
                                Tu foste músico » ove wa kala onjimbi<br>
                                Ele foi cientista » Eye wa kala onoño<br>
                                Nós fomos comerciantes » Etu tua kala vakuamĩlu<br>
                                Vós fostes patores » Ene wa kali angombo<br>
                                Eles foram preguiçosos » Ovo va kala ovisiãi<br>
                            </p>
                        </div>
                        <div class="col-lg-6 text-start">
                            <b><u>Presente</u></b>
                            <p class="mt-2">
                                Eu serei professor » Ame ndi ka kala ulongisi <br>
                                Tu serás músico » ove o ka kala onjimbi<br>
                                Ele será cientista » Eye o ka kala onoño<br>
                                Nós seremos comerciantes » Etu tu ka kala vakuamĩlu<br>
                                Vós sereis pastores » Ene vu ka kali angombo<br>
                                Eles serão preguiçosos » Ovo va ka kala ovisiãi<br>
                            </p>

                        </div>

                    </div>
                    <div id="verb-to-walk" class="row  g4 text-center mt-5">
                        <h4>Verbo Andar</h4>
                        <div class="col-lg-6 table-responsive-sm">

                            <table class="table text-start">
                                <thead>
                                    <th colspan="4" class="text-center">Passado</th>
                                </thead>
                                <tbody>
                                    <tr class="table-active">
                                        <td><b>Pronome</b></td>
                                        <td><b>Português</b></td>
                                        <td><b>Umbundu</b></td>
                                    </tr>
                                    <tr>
                                        <td>Eu » Ame</td>
                                        <td>Andei/fui</td>
                                        <td>Nda enda</td>
                                    </tr>
                                    <tr>
                                        <td>Tu » Ove</td>
                                        <td>Andaste/foste</td>
                                        <td>Wa enda</td>
                                    </tr>
                                    <tr>
                                        <td>Ele » Eye</td>
                                        <td>Andou/foi</td>
                                        <td>Wa enda</td>
                                    </tr>
                                    <tr>
                                        <td>Nós » Etu</td>
                                        <td>Andamos/fomos</td>
                                        <td>Tua enda</td>
                                    </tr>
                                    <tr>
                                        <td>Vós » Ene</td>
                                        <td>Andastes/fostes</td>
                                        <td>Wa enda</td>
                                    </tr>
                                    <tr>
                                        <td>Eles » Ovo</td>
                                        <td>Andaram/foram</td>
                                        <td>Va enda</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 ">
                            <table class="table">
                                <thead>
                                    <th colspan="4" class="text-center">Presente</th>
                                </thead>
                                <tbody>
                                    <tr class="table-active">
                                        <td><b>Pronome</b></td>
                                        <td><b>Português</b></td>
                                        <td><b>Umbundu</b></td>
                                    </tr>
                                    <tr>
                                        <td>Eu » Ame</td>
                                        <td>Ando/vou </td>
                                        <td>Ndi enda</td>
                                    </tr>
                                    <tr>
                                        <td>Tu » Ove</td>
                                        <td>Andas/vais </td>
                                        <td>O enda</td>
                                    </tr>
                                    <tr>
                                        <td>Ele » Eye</td>
                                        <td>Anda/vai </td>
                                        <td>O enda</td>
                                    </tr>
                                    <tr>
                                        <td>Nós » Etu</td>
                                        <td>Andamos/vamos</td>
                                        <td>Tu enda</td>
                                    </tr>
                                    <tr>
                                        <td>Vós » Ene</td>
                                        <td>Andais/vais</td>
                                        <td>Vu endi</td>
                                    </tr>
                                    <tr>
                                        <td>Eles » Ovo</td>
                                        <td>Andam/vão</td>
                                        <td>Va enda</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6 ">
                            <table class="table">
                                <thead>
                                    <th colspan="4" class="text-center">Futuro</th>
                                </thead>
                                <tbody>
                                    <tr class="table-active">
                                        <td><b>Pronome</b></td>
                                        <td><b>Português</b></td>
                                        <td><b>Umbundu</b></td>
                                    </tr>
                                    <tr>
                                        <td>Eu » Ame</td>
                                        <td>Andarei/irei</td>
                                        <td>Ndi ka enda</td>
                                    </tr>
                                    <tr>
                                        <td>Tu » Ove</td>
                                        <td>andará/irás</td>
                                        <td>O ka enda </td>
                                    </tr>
                                    <tr>
                                        <td>Ele » Eye</td>
                                        <td>andará/irá</td>
                                        <td>O ka enda </td>
                                    </tr>
                                    <tr>
                                        <td>Nós » Etu</td>
                                        <td>Andaremos/iremos</td>
                                        <td>Tu ka enda</td>
                                    </tr>
                                    <tr>
                                        <td>Vós » Ene</td>
                                        <td>Andareis/ireis</td>
                                        <td>Vu ka endi</td>
                                    </tr>
                                    <tr>
                                        <td>Eles » Ovo</td>
                                        <td>Andarão/irão</td>
                                        <td>Va ka enda</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center mt-5">
                        <h5>Exemplos - Verbo ir</h5>
                        <div class="col-lg-6 text-start">
                            <b><u>Passado</u></b>
                            <p class="mt-2">
                                Um aspecto importante que você precisa levar em conta sobre o verbo ir, no passado, é
                                o<br>
                                seguinte: ele tem dois sentidos.<br>
                                Ou seja, faz-se distinção entre o IR de quem foi e já voltou, e o IR de que foi e
                                ainda<br>
                                não voltou.<br>
                                Assim, pela expressão usada, o ouvinte saberá distinguir o sentido exato do verbo
                                ir.<br>
                                Ex.:<br>
                                Eu fui à escola (ainda não voltei) »» Ame nda enda ko sikola<br>
                                Eu fui à escola (mas já voltei) »» Ame nda endele ko sikola<br>
                            </p>
                        </div>
                        <div class="col-lg-6 text-start">
                            <b><u>Sentido 1 - (IR e não ter voltado ainda)</u></b>
                            <p class="mt-2">
                                Eu fui à escola » Ame nda enda (ndanda) ko sikola <br>
                                Tu foste ao mercado » ove wa enda (wanda) kovitanda<br>
                                Ele foi ao rio » Eye wa enda (wenda) kolui<br>
                                Nós fomos próximo » Etu tu enda ocipepi<br>
                                Vós fostes primeiro » Ene vu endi (wendi) tete<br>
                                Eles foram depois » Ovo va enda (vanda) noke<br>
                            </p>

                        </div>
                        <div class="col-lg-6 text-start">
                            <b><u>Sentido 2 - (IR e já ter voltado)</u></b>
                            <p class="mt-2">
                                Eu fui à escola » Ame nda endele (ndandele) ko sikola<br>
                                Tu foste ao mercado » ove wa endele (wandele) kovitanda<br>
                                Ele foi ao rio » Eye wa endele (wendele) kolui<br>
                                Nós fomos próximo » Etu tua endele (tuandele) ocipepi<br>
                                Vós fostes primeiro » Ene vua endeli (wandeli) tete<br>
                                Eles foram depois » Ovo va endele (vandele) noke<br>
                            </p>
                        </div>
                        <div class="col-lg-6 text-start">
                            <b><u>Presente</u></b>
                            <p class="mt-2">
                                Eu vou à escola » Ame ndi enda ko sikola <br>
                                Tu vais ao mercado » ove o enda (wende) kovitanda<br>
                                Ele vai ao rio » Eye o enda (wenda) kolui<br>
                                Nós vamos próximo » Etu tu enda ocipepi<br>
                                Vós ides primeiro » Ene vu endi (wendi) tete<br>
                                Eles vão depois » Ovo va enda (vanda) noke<br>
                            </p>
                        </div>
                        <div class="col-lg-6 text-start">
                            <b><u>Futuro</u></b>
                            <p class="mt-2">
                                Eu irei à escola » Ame ndi ka enda ko sikola<br>
                                Tu irás ao mercado » ove o ka enda kovitanda<br>
                                Ele irá ao rio » Eye o ka enda kolui<br>
                                Nós iremos próximo » Etu tu ka enda ocipepi<br>
                                Vós ireis primeiro » Ene vu ka endi tete<br>
                                Eles irão depois » Ovo va ka enda noke<br>
                            </p>
                        </div>
                    </div>
                </div>
                <h1 id="vocabulary" class="mt-5">Vocabulário</h1>
                <div class="mt-5 lead">
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <table class="table">
                                <thead class="text-center">
                                    <th colspan="2">Partes do corpo Humano</th>
                                </thead>
                                <tr>
                                    <td>Cabeça </td>
                                    <td>Utue </td>
                                </tr>
                                <tr>
                                    <td>Olho/olhos</td>
                                    <td>Iso/ Ovasso</td>
                                </tr>
                                <tr>
                                    <td>Boca</td>
                                    <td> Omela</td>
                                </tr>
                                <tr>
                                    <td>Língua</td>
                                    <td> Elaka</td>
                                </tr>
                                <tr>
                                    <td>Dente/dentes</td>
                                    <td> Eyo/ Ovayo</td>
                                </tr>
                                <tr>
                                    <td>Maxilar</td>
                                    <td>Olumbanjo</td>
                                </tr>
                                <tr>
                                    <td>Pescoço</td>
                                    <td>Osingo</td>
                                </tr>
                                <tr>
                                    <td>Cérebro</td>
                                    <td>Owoño</td>
                                </tr>
                                <tr>
                                    <td>Braço/braços</td>
                                    <td>Okuoka/ Ovoko</td>
                                </tr>
                                <tr>
                                    <td>Dedo/dedos</td>
                                    <td>Omuine/ Imuine</td>
                                </tr>
                                <tr>
                                    <td>Barriga</td>
                                    <td>Imo</td>
                                </tr>
                                <tr>
                                    <td>Umbigo</td>
                                    <td>Ohopa</td>
                                </tr>
                                <tr>
                                    <td>Coração</td>
                                    <td>Utima</td>
                                </tr>
                                <tr>
                                    <td>Perna/pernas</td>
                                    <td>Okulu/ Ovolu</td>
                                </tr>
                                <tr>
                                    <td>Joelho/joelhos</td>
                                    <td>Ongolo/Olongolo</td>
                                </tr>
                                <tr>
                                    <td>Orelha/orelhas</td>
                                    <td>Etui/ Atui</td>
                                </tr>
                                <tr>
                                    <td>Nariz</td>
                                    <td>Enyulu</td>
                                </tr>
                                <tr>
                                    <td>Pulmão/ pulmões</td>
                                    <td>Epuvi/ Apuvi</td>
                                </tr>
                                <tr>
                                    <td>Pé/ pés</td>
                                    <td>Omai/ Olomai</td>
                                </tr>
                                <tr>
                                    <td>Unha/unhas</td>
                                    <td>Olunjala/ Olonjala</td>
                                </tr>
                                <tr>
                                    <td>Ombro/ombros</td>
                                    <td>Epepe/ Apepe</td>
                                </tr>
                                <tr>
                                    <td>Osso/ossos</td>
                                    <td>Ekepa/ Akepa</td>
                                </tr>
                                <tr>
                                    <td>Rosto</td>
                                    <td>Ocipala</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table">
                                <thead class="text-center">
                                    <th colspan="2">Dias da semana</th>
                                </thead>
                                <tr>
                                    <td>Segunda-feira</td>
                                    <td>Eteke lia vali / Vo vali /Sengunda</td>
                                </tr>
                                <tr>
                                    <td>Terça-feira </td>
                                    <td>Eteke lia tatu /Vo tatu</td>
                                </tr>
                                <tr>
                                    <td>Quarta-feira </td>
                                    <td>Eteke lia kuãla /Vo kuãla</td>
                                </tr>
                                <tr>
                                    <td>Quinta-feira </td>
                                    <td>Eteke lia talõ /Vo talõ</td>
                                </tr>
                                <tr>
                                    <td>Sexta-feira </td>
                                    <td>Eteke liepandu</td>
                                </tr>
                                <tr>
                                    <td>Sábado </td>
                                    <td>Ca sapalo</td>
                                </tr>
                                <tr>
                                    <td>Domingo </td>
                                    <td>Ca lumingu</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="about-us" class="p-5 ">
            <div class="container">
                <h2 class="text-center text-dark">Quem Somos?</h2>
                <p class="lead text-center text-dark mb-5">
                    O dicionário KIMBO é parte de um projeto de ensino da
                    língua umbundu, dirigido por Silvestre de Oliveira e Victor Lukoki. Periódicamente o dicionário vai
                    sendo atualizado para
                    melhor atender as suas necessidades.
                </p>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-3">
                        <div class="card-body text-center shadow h-100 bg-light">

                            <img src="./assets/img/eu.jpg" class="rounded-circle mb-3" alt="Victor Lukoki" />
                            <h3 class="card-title mb-3">Victor Lukoki</h3>
                            <p class="card-text">
                                Desenvolvedor de páginas web e aplicativos móveis. <br> <br>
                            </p>
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="https://github.com/K0R1NGA69/Kimbo"><i class="bi bi-github text-dark mx-1"></i></a>
                            <a href="https://wa.link/8jgnww"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6  col-lg-3">
                        <div class="card-body text-center shadow h-100 bg-light">
                            <img src="./assets/img/silvestre.jpg" class="rounded-circle mb-3" alt="" />
                            <h3 class="card-title mb-3">Silvestre de Oliveira</h3>
                            <p class="card-text">
                                Professor de umbundu, Designer Gráfico e empreendedor digital
                            </p>
                            <a href="https://youtu.be/T7Rznfes9R8"><i class="bi bi-youtube text-dark mx-1"></i></a>
                            <a href="https://www.facebook.com/Silvestreily"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="https://wa.link/07prx3"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>

        </section>

        <%- include("includes/footer") %>