<nav class="navbar navbar-expand-lg  navbar-light bg  fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand"><span class="text-primary fw-bolder">K</span>imbo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fw-bolder" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#learn" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Aprender
                    </a>
                    <ul class="dropdown-menu bg" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/learn#learn">Conversação</a></li>
                        <li><a class="dropdown-item" href="/learn#numbers">Os números</a></li>
                        <li><a class="dropdown-item" href="/learn#verbs">Os verbos</a></li>
                        <li><a class="dropdown-item" href="/learn#vocabulary">Vocabulário</a></li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a href="#about-us" class="nav-link">Quem somos?</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/Silvestreily" class="nav-link"><i class="bi bi-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://youtu.be/T7Rznfes9R8" class="nav-link"><i class="bi bi-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>

</nav>